<header class="">
  <%= link_to '/', id: 'Home' do %>
    <span class="">
      arrow_back_ios
    </span>
  <% end %>
  <h2><%= title %></h2>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <span class="">
        logout
      </span>
    <% end %>
  <% end %>
</header>